{% extends 'nxtcarMainBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcaruser/css/register.css") }}">
{% endblock %}

{% block content %}

    <div class="registr-content">
        <div class="registr-content-header">
            <div class="text">Already a member?
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary btn-lg " role="button">Login</a>
            </div>
        </div>
        <h4 class="registr-h4">Not yet a member? Sign up for free</h4>
        <div class="registr-content-content row">
            <div class="form-content col-md-8">
                <div class="in-just">
                    In just<span> 2 seconds</span>
                </div>
                <div class="div-f-btn">
                    <a href="#"class="f-btn btn btn-primary btn-lg " role="button">Connect with Facebook</a>
                </div>
                <div class="text1 ">
                    We don't publish on your wall without your consent
                </div><hr>
                <div class="div-or">or</div>
                <div class="in-just">
                    In just<span> 30 seconds</span>
                </div>

                <div class="form">
                    <form class="form-horizontal" role="form" method="post" action="{{ path('register') }}">

                        <div class="col-sm-5">
                            <select name="gender" class="form-control">
                                <option value="u" selected="selected">Gender</option>
                                <option value="f">Female</option>
                                <option value="m">Male</option>
                            </select>
                        </div>

                        <div class="col-sm-10">
                            {{ form_widget(form.username, {'attr': {'class': "form-control", "placeholder": "First name" } }) }}
                        </div>

                        <div class="col-sm-10">
                            <input type="text" name="lastName" class="form-control" placeholder="Last name">
                        </div>

                        <div class="col-sm-10">
                            {% if form_errors(form.email) %}
                                <div class="alert-error no-icon">{{ form_errors(form.email) }}</div>
                            {% endif %}
                            {{ form_widget(form.email, {'attr': {'class': "form-control inputEmail3", "id": "inputEmail3", "placeholder": "Email" } }) }}
                        </div>

                        <div class="col-sm-10">
                            {{ form_errors(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': "form-control inputPassword3", "id": "inputPassword", "placeholder": "Password" } }) }}
                        </div>

                        <div class="col-sm-10">
                            {{ form_errors(form.plainPassword.second) }}
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': "form-control inputPassword3", "placeholder": "Password confirmation" } }) }}
                        </div>

                        <div class="col-sm-10">
                            <select name="birthYear" class="form-control">
                                <option value selected="selected">Birth year</option>
                                {% for i in 1996..1914 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <input type="checkbox" class="form-checkbox">
                                    <label>
                                        Receive updates on new features, or useful information for you
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-10 smal-text" >
                            By clicking on "Get started now" or “Connect with Facebook” you accept our
                            <a href=""> ToS</a> and certify you are over 18 years old.
                        </div>
                        <div class="col-sm-10">
                            <input type="submit" class="submit btn btn-default" value="Get started now">
                        </div>
                        {{ form_widget(form._token) }}
                    </form>
                </div>
            </div>
            <div class="col-md-4">.col-md-4</div>
        </div>
    </div>
{% endblock %}