{% extends 'nxtcarMainBundle::layout.html.twig' %}

{% block AngularController %}ng-controller="userController"{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcaruser/css/register.css") }}">
{% endblock %}

{% block content %}

    <div class="registr-content">
        <div class="registr-content-header">
            <div class="text">Already a member?
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary btn-lg " role="button">Login</a>
            </div>
        </div>
        <h4 class="registr-h4">Not yet a member? Sign up for free</h4>
        <div class="registr-content-content row">
            <div class="form-content col-md-8">
                <div class="in-just">
                    In just<span> 2 seconds</span>
                </div>
                <div class="div-f-btn">
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}" class="f-btn btn btn-primary btn-lg " role="button">Connect with Facebook</a>
                </div>
                <div class="text1 ">
                    We don't publish on your wall without your consent
                </div><hr>
                <div class="div-or">or</div>
                <div class="in-just">
                    In just<span> 30 seconds</span>
                </div>

                <div class="form">
                    <form class="form-horizontal" role="form" method="post" action="{{ path('fos_user_registration_register') }}">

                        <div class="col-sm-5">
                            {% if form_errors(form.gender) %}
                                    <div class="alert-error no-icon">
                                    {% for error in form.gender.vars.errors %}
                                        {{ error.message }}<br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ form_widget(form.gender, {'attr': {'class': "form-control register-gender register-select"} }) }}
                        </div>

                        <div class="col-sm-10">
                            {% if form_errors(form.firstname) %}
                                <div class="alert-error no-icon">
                                    {% for error in form.firstname.vars.errors %}
                                        {{ error.message }}<br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ form_widget(form.firstname, {'attr': {'class': "form-control", "placeholder": "First name" } }) }}
                        </div>

                        <div class="col-sm-10">
                            {% if form_errors(form.lastname) %}
                                <div class="alert-error no-icon">
                                    {% for error in form.lastname.vars.errors %}
                                        {{ error.message }}<br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ form_widget(form.lastname, {'attr': {'class': "form-control", "placeholder": "Last name" } }) }}
                        </div>

                        <div class="col-sm-10">
                            {% if form_errors(form.email) %}
                                <div class="alert-error no-icon">
                                    {% for error in form.email.vars.errors %}
                                        {{ error.message }}<br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ form_widget(form.email, {'attr': {'class': "form-control inputEmail3", "id": "inputEmail3", "placeholder": "Email" } }) }}
                        </div>

                        <div class="col-sm-10">
                            {% if form_errors(form.plainPassword.first) %}
                                <div class="alert-error no-icon">
                                    {% for error in form.plainPassword.first.vars.errors %}
                                        {{ error.message }}<br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': "form-control inputPassword3", "id": "inputPassword", "placeholder": "Password" } }) }}
                        </div>

                        <div class="col-sm-10">
                            {% if form_errors(form.plainPassword.second) %}
                                <div class="alert-error no-icon">
                                    {% for error in form.plainPassword.second.vars.errors %}
                                        {{ error.message }}<br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': "form-control inputPassword3", "placeholder": "Password confirmation" } }) }}
                        </div>

                        <div class="col-sm-10">
                            {% if form_errors(form.yearOfBirth) %}
                                <div class="alert-error no-icon">
                                    {% for error in form.yearOfBirth.vars.errors %}
                                        {{ error.message }}<br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ form_widget(form.yearOfBirth, {'attr': {'class': "form-control register-select" } }) }}
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <input type="checkbox" class="form-checkbox">
                                    <label>
                                        Receive updates on new features, or useful information for you
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-10 smal-text" >
                            By clicking on "Get started now" or “Connect with Facebook” you accept our
                            <a href=""> ToS</a> and certify you are over 18 years old.
                        </div>
                        <div class="col-sm-10">
                            <input type="submit" class="submit btn btn-default" value="Get started now">
                        </div>
                        {{ form_widget(form._token) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("/bundles/nxtcaruser/js/require/userRunner.js") }}"></script>
{% endblock %}