{% extends 'nxtcarMainBundle:Dashboard:profileBase.html.twig' %}

{% block sub_content %}

    {% for car in cars %}
        {{ car.model.title }} {{ car.model.brand.title }}
        <br>
        {% for i in 1..(car.comfort + 1) %}
            *
        {% endfor %}
        <a href="{{ path('car_add', {'id': car.id}) }}">edit</a>
        <a href="{{ path('car_remove', {'id': car.id}) }}">remove</a>
        <br><br>
    {% endfor %}
    <a href="{{ path('car_add') }}">Add a car</a>

{% endblock %}