{% extends 'nxtcarMainBundle::layout.html.twig' %}

{% block content %}


    {# TODO need to change #}
    <div id="content-login">
        <div id="login-middle">

            {% if error %}
                <span class="glyphicon glyphicon-info-sign error">
                {{ error }}
            </span>
            {% endif %}

            <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post" role="form">
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <input type="text" class="form-control" name="_username" id="inputEmail3 " value="{{ last_username }}" placeholder="{{ 'user_placeholder'|trans({}, 'user') }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-sm-offset-1 col-sm-10">
                        <input type="password" class="form-control" name="_password" id="inputPassword3" placeholder="{{ 'password'|trans({}, 'user') }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-7">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <label for="remember_me">{{ 'remember_me' | trans({}, 'user') }}</label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <button id="enter" type="submit" class="btn btn-default">{{ 'login' | trans({}, 'user') }}</button>
                    </div>
                </div>
                <a href="/resetting/request?email={{ last_username }}">{{ 'reset_pass' | trans({}, 'user') }}</a>
            </form>
        </div>
    </div>

{% endblock %}