{% extends 'nxtcarMainBundle:Dashboard:profileBase.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcaruser/css/change_password.css") }}">
{% endblock %}

{% block content %}

    {{ parent() }}

    <div class="user-profil-content">
        <form class="form-horizontal" role="form" action="{{ path('sonata_user_change_password') }}" method="POST">
            <p class="form-text">If you forget your password, it will be sent to<b> aram2625@bk.ru</b></p>

            <div class="form-group">
                <label for="inputCurrentPassword" class="col-sm-3 control-label">Current password</label>
                <div class="col-sm-3">
                    {{ form_widget(form.current_password, {'attr': {'class': 'form-control', 'id': 'inputCurrentPassword'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="newPasswordFirst" class="col-sm-3 control-label">New password</label>
                <div class="col-sm-3">
                    {{ form_widget(form.new.first, {'attr': {'class': 'form-control', 'id': 'newPasswordFirst'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="newPasswordSecond" class="col-sm-3 control-label">Confirm new<br> password</label>
                <div class="col-sm-3">
                    {{ form_widget(form.new.second, {'attr': {'class': 'form-control', 'id': 'newPasswordSecond'} }) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <input type="submit" class="submit btn btn-default" value="Save">
                </div>
            </div>

            {{ form_widget(form._token) }}
        </form>
    </div>
{% endblock %}