{% extends "nxtcarMainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride_find.css") }}">
{% endblock %}

{% block content %}
    <div class="trip-search-form search-form search-container">
        <h2>
            Find a ride
        </h2>
        <form method="POST" id="search-form" class="form-inline" action="{{ path('ride_find') }}" prevent-default>
            <input type="text" title="From" placeholder="From" class="search-from" google-autocomplete place="Ride.from">

            <button type="button" class="btn reverse tip">
                <img src="{{ asset('bundles/nxtcarmain/images/reverse2.png') }}" width="18" height="16" alt="Switch">
            </button>
            <input type="text" title="To" placeholder="To" class="search-to" google-autocomplete place="Ride.to">
            <input type="hidden" name="ride" value="[[Ride]]"/>
            <input type="submit" class="search-btn btn btn-large" value="Find">
        </form>
    </div>
    <img src="{{ asset('bundles/nxtcarmain/images/no-search.jpg') }}" {#width="18" height="16" #}alt="Switch">

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script type="text/javascript" src="{{ asset("/bundles/nxtcarmain/js/require/findRunner.js") }}"></script>
{% endblock %}