{% extends "nxtcarMainBundle::layout.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride_offer.css") }}">
    <link rel="stylesheet" href="{{ asset('app/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css') }}">
{% endblock %}

{% block AngularController %}ng-controller="RideController2"{% endblock %}

{% block content %}

    <div class="publication-container" ng-init="initRide('{{ ride }}','');user='{{ app.user }}'">
        <h3>Offer a ride on your next long journey</h3>
        <span class="my-schedule"><a> My schedule</a></span>
        <div class="my-schedule-1">
            <span class="span-1">1</span>
        </div>

        <div class="row">
            <div class="col-md-8 left-block">
                <fieldset class="main-block">
                    <div class="header-main-block">
                        <p>Price per passenger</p>
                    </div>
                    <div>
                        <ul class="form-to-price" data-ng-init="Ride.prices={};Ride.WholePrices=0;Ride.page=2">
                            <li data-ng-repeat="(k,v) in Ride.places | limitTo:Ride.places.length-1">
                                <div class="marker-1 marker"></div>
                                <span class="from-to"><span data-ng-bind="Ride.places[k].city_name"></span> → <span data-ng-bind="Ride.places[k+1].city_name"></span></span>
                                <span class="price">
                                    <span class="add-on" currency="choosenCountry.currency"></span>
                                    <input type="text" class="number" data-ng-model="Ride.places[k].priceToNearestCity" ng-init="Ride.places[k].priceToNearestCity=0">
                                    <span class="add-sub-bt">
                                        <button class="btn-plus" data-ng-click="Ride.places[k].priceToNearestCity=Ride.places[k].priceToNearestCity+1"></button><!--<br>-->
                                        <button class="btn-minus" data-ng-click="Ride.places[k].priceToNearestCity=Ride.places[k].priceToNearestCity-1"></button>
                                    </span>
                                </span>
                            </li>
                            <li class="last">
                                <span class="from-to"><span data-ng-bind="Ride.places[0].city_name"></span> → <span data-ng-bind="Ride.places[Ride.places.length-1].city_name"></span></span>
									<span class="price">
										<span class="add-on" currency="choosenCountry.currency"></span>
										<div class="number" data-ng-bind="Ride.WholePrices"></div><!--
										<input type="text" class="number" value="222">-->
									</span>
                                <br>
                                {#<small class="price-normally">(price normally asked: £208)</small>#}
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <fieldset class="main-block">
                    <div class="">
                        <ul class=" number-of-seats-offered">
                            <li>
                                <span>Number of seats offered:</span>
                                <span class="price1 number-span">
                                    <input type="text" class="number" data-ng-model="Ride.seatsNumber" ng-init="Ride.seatsNumber=0">
                                    <span class="add-sub-bt">
                                        <button class="btn-plus" data-ng-click="Ride.seatsNumber=Ride.seatsNumber+1"></button>
                                        <button class="btn-minus" data-ng-click="Ride.seatsNumber=Ride.seatsNumber-1"></button>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <fieldset class="main-block">
                    <div class="header-main-block">
                        <p>Further details</p>
                    </div>
                    <section class="main-block-content">
                        <textarea class="textarea-tip"
                          rows="5"
                          data-ng-model="Ride.details"
                          placeholder="Provide extra information about your ride. More details about the departure/arrival point, what music you listen to, why you are travelling or anything else your passengers should know.">
                        </textarea>

                        <div class="helper1">
                            Your contact details (mobile number &amp; email) already appear in your profile, please do not add them here!
                            {#(<a href="#" >See our rules</a>)#}
                        </div>
                        <div class="form-horizontal" method="POST">
                            {#<div class="form-group">#}
                                {#<label for="yor-car" class="col-sm-4">Yor car </label>#}
                                {#<div class="col-sm-6">#}
                                    {#<select id="yor-car" class="yor-car form-control">#}
                                        {#<option>Yor car 1</option><option value="f">Yor car 2</option>#}
                                    {#</select>#}
                                {#</div>#}
                            {#</div>#}

                            <div class="form-group">
                                <label for="yor-car" class="col-sm-4">Maximum luggage size:</label>
                                <div class="col-sm-3">
                                    <select id="yor-car" class="yor-car form-control" data-ng-model="Ride.luggageSize" data-ng-init="Ride.luggageSize='{{ constant('nxtcar\\MainBundle\\Entity\\Ride::SMALL') }}'">
                                        <option value="{{ constant('nxtcar\\MainBundle\\Entity\\Ride::SMALL') }}">Small</option>
                                        <option value="{{ constant('nxtcar\\MainBundle\\Entity\\Ride::MEDIUM') }}">Medium</option>
                                        <option value="{{ constant('nxtcar\\MainBundle\\Entity\\Ride::LARGE') }}">Large</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="yor-car" class="col-sm-4">I will leave:</label>
                                <div class="col-sm-5">
                                    <select id="yor-car" class="yor-car form-control" data-ng-model="Ride.leavingTime" data-ng-init="Ride.leavingTime='{{ constant('nxtcar\\MainBundle\\Entity\\Ride::ON_TIME') }}'">
                                        <option value="{{ constant('nxtcar\\MainBundle\\Entity\\Ride::ON_TIME') }}">Right on time</option>
                                        <option value="{{ constant('nxtcar\\MainBundle\\Entity\\Ride::MIN15') }}">In a 15 minute window</option>
                                        <option value="{{ constant('nxtcar\\MainBundle\\Entity\\Ride::MIN30') }}">In a 30 minute window</option>
                                        <option value="{{ constant('nxtcar\\MainBundle\\Entity\\Ride::HOUR1') }}">In a 1 hour window</option>
                                        <option value="{{ constant('nxtcar\\MainBundle\\Entity\\Ride::HOUR2') }}">In a 2 hour window</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="yor-car" class="col-sm-4">I can make a detour:</label>
                                <div class="col-sm-5">
                                    <select id="yor-car" class="yor-car form-control" data-ng-model="Ride.detour" data-ng-init="Ride.detour='{{ constant('nxtcar\\MainBundle\\Entity\\Ride::DET_MIN15') }}'">
                                        <option value="{{ constant('nxtcar\\MainBundle\\Entity\\Ride::NONE') }}">None</option>
                                        <option value="{{ constant('nxtcar\\MainBundle\\Entity\\Ride::DET_MIN15') }}">15 minute detour, max.</option>
                                        <option value="{{ constant('nxtcar\\MainBundle\\Entity\\Ride::DET_MIN30') }}">30 minute detour, max.</option>
                                        <option value="{{ constant('nxtcar\\MainBundle\\Entity\\Ride::DET_FINE') }}">Anything is fine</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>
                </fieldset>
                <fieldset class="main-block">
                    <section id="publication-unique" class="main-block-content" >
                        <label>
                            <input type="checkbox" data-ng-model="Ride.licence">
                            I hereby certify that I hold a driving licence and valid car insurance (
                            <a {#target="_blank"#} href="#">See our ToS</a>
                            )
                        </label>
                    </section>
                </fieldset>
                <form action="#" method="POST" class="promise-form" ng-click="submitForm($event)">
                    <button type="submit">Publish offer</button>
                    <input type="hidden" name="ride" value="[[ Ride ]]"/>
                </form>
            </div>
            <div class="col-md-4 ">
                <div class="map">
                    <h4>My trip summary</h4>
                    <google-map places="Ride.places" map="map" style="width:342px;height:385px;display:block"></google-map>

                    <b>London → Glasgow</b>

                    <div class="row">
                        <div class="col-xs-6">Departure:</div>
                        <div class="col-xs-6">[[ dp ]] - 12:00</div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">Distance:</div>
                        <div class="col-xs-6">[[ Ride.distance | number:2 ]] Km</div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">Driving time:</div>
                        <div class="col-xs-6">7h 46m</div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">CO2 emissions:</div>
                        <div class="col-xs-6">156 Kg</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script type="text/javascript" src="{{ asset("/bundles/nxtcarmain/js/require/rideRunner.js") }}"></script>
{% endblock %}
