{% extends "nxtcarMainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride_offer.css") }}">
    <link rel="stylesheet" href="{{ asset('app/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css') }}">
{% endblock %}

{% block AngularController %}ng-controller="RideController"{% endblock %}

{% block content %}
        <div class="publication-container">
            <h3>Offer a ride on your next long journey</h3>
            <span class="my-schedule"><b {#class="b-my-schedule"#}>My schedule</b></span>
            <div class="my-schedule-1">
                <span class="span-1">1</span>
            </div>

            <div class="row">
                <div class="col-md-8 left-block">
                    <fieldset class="main-block">
                        <div class="header-main-block">
                            <p>Type of trip</p>
                        </div>
                        <div class="radios">
                            <label  class="radio radio-left float-left">
                                <input type="radio" data-ng-model="Ride.trip" data-ng-init="Ride.trip=0" value="0" name="radio" checked="checked">
                                 One-time trip
                            </label>
                            <label  class="radio label-right float-right">
                                <input type="radio" data-ng-model="Ride.trip" value="1" name="radio">
                                Recurring trip
                            </label>
                        </div>
                    </fieldset>
                    <fieldset class="main-block">
                        <div class="header-main-block">
                            <p>Exact route</p>
                        </div>

                        <section class="main-block-content">
                            <input type="text"
                               class="input from tip"
                               google-places-autocomplete
                               place-type="1"
                               places="Ride.places"
                               map="map"
                               placeholder="Your departure point (address, city, station...)">

                            <p class="helper">Example: Canary Wharf, London</p>
                            <input type="text"
                               class="to tip input"
                               google-places-autocomplete
                               place-type="2"
                               places="Ride.places"
                               map="map"
                               placeholder="Your arrival point (address, city, station...)"  >

                            <section class="stages-container clearfix">
                                <p  class=" control-label">Now enter the main cities you will drive through: this is key to connecting you and your passengers</p>
                                <div class="div-input">
                                    <ul ui-sortable ng-model="cities">
                                        <li data-ng-repeat="(k,city) in cities">
                                            <input type="text"
                                               google-places-autocomplete
                                               place-type="3"
                                               places="Ride.places"
                                               map="map"
                                               class="input remove-input"
                                               placeholder="Add cities on your route">
                                            <a class="close tip" href="javascript:void(0)" data-ng-click="removeCity(k)" title="Remove this stopover">×</a>
                                            <a class="close move-span tip" href="javascript:void(0)" title="Remove this stopover"></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="stage-add" data-ng-click="cities.push({name: ''});">
                                    <a href="javascript:void(0)" class="plus-button tip">+</a>
                                    Add more cities on your route
                                </div>
                            </section>
                        </section>
                    </fieldset>
                    <fieldset class="main-block">
                        <div class="header-main-block clearfix">
                            <p class="date-and-time">Date and time</p>
                            <div class="">
                                <label  class="label-round-trip">
                                    <input type="checkbox" data-ng-model="Ride.Round" ng-init="Ride.Round=true" class="trip-mode simple-round-choice" checked="checked">
                                    Round trip
                                </label>
                            </div>
                        </div>
                        <section id="publication-unique" class="main-block-content" style="display: block;">
                            <section class="date-time">
                                <div data-ng-show="Ride.trip==0">
                                    <label class="control-label">Departure date:</label>
                                    <div class="departure-date">
                                        <div class="input-date">
                                            <input type="text" datepicker ng-model="Ride.dateFrom" class="input date-picker" placeholder="DD/MM/YYYY"/>
                                        </div>
                                        <select class="time-select" data-ng-model="Ride.departure.hour">
                                            <option data-ng-repeat="hour in hours" value="[[ hour ]]" data-ng-bind="hour"></option>
                                        </select> :
                                        <select class="time-select" data-ng-model="Ride.departure.minute">
                                            <option data-ng-repeat="minute in minutes" value="[[ minute ]]" data-ng-bind="minute"></option>
                                        </select>
                                    </div>
                                    <br>
                                    <label class="control-label" data-ng-show="Ride.Round">Return date:</label><br>
                                    <div class="input-date" data-ng-show="Ride.Round">
                                        <input type="text" class="input date-picker" datepicker ng-model="Ride.dateTo" placeholder="DD/MM/YYYY"/>
                                        <select class="time-select" data-ng-model="Ride.return.hour">
                                            <option data-ng-repeat="hour in hours" value="[[ hour ]]" data-ng-bind="hour"></option>
                                        </select> :
                                        <select class="time-select" data-ng-model="Ride.return.minute">
                                            <option data-ng-repeat="minute in minutes" value="[[ minute ]]" data-ng-bind="minute"></option>
                                        </select>
                                    </div>
                                </div>

                                <div data-ng-show="Ride.trip==1" class="ng-hide">
                                    <div data-ng-show="Ride.Round">
                                        <label class="control-label">Outbound days</label>
                                        <div class="btn-group" data-toggle="buttons-checkbox">
                                            <button type="button" class="btn btn-primary" data-ng-click="outWeek['1']=!outWeek['1']">Mon</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="outWeek['2']=!outWeek['2']">Tue</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="outWeek['3']=!outWeek['3']">Wed</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="outWeek['4']=!outWeek['4']">Thu</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="outWeek['5']=!outWeek['5']">Fri</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="outWeek['6']=!outWeek['6']">Sat</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="outWeek['0']=!outWeek['0']">Sun</button>
                                        </div>
                                        <select class="time-select" data-ng-model="Ride.outboundRecurring.hour">
                                            <option data-ng-repeat="hour in hours" value="[[ hour ]]" data-ng-bind="hour"></option>
                                        </select> :
                                        <select class="time-select" data-ng-model="Ride.outboundRecurring.minute">
                                            <option data-ng-repeat="minute in minutes" value="[[ minute ]]" data-ng-bind="minute"></option>
                                        </select>
                                    </div>
                                    <div data-ng-show="Ride.Round">
                                        <label class="control-label">Return days</label>
                                        <div class="btn-group" data-toggle="buttons-checkbox">
                                            <button type="button" class="btn btn-primary" data-ng-click="returnWeek['1']=!returnWeek['1']">Mon</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="returnWeek['2']=!returnWeek['2']">Tue</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="returnWeek['3']=!returnWeek['3']">Wed</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="returnWeek['4']=!returnWeek['4']">Thu</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="returnWeek['5']=!returnWeek['5']">Fri</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="returnWeek['6']=!returnWeek['6']">Sat</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="returnWeek['0']=!returnWeek['0']">Sun</button>
                                        </div>
                                        <select class="time-select" data-ng-model="Ride.returnRecurring.hour">
                                            <option data-ng-repeat="hour in hours" value="[[ hour ]]" data-ng-bind="hour"></option>
                                        </select> :
                                        <select class="time-select" data-ng-model="Ride.returnRecurring.minute">
                                            <option data-ng-repeat="minute in minutes" value="[[ minute ]]" data-ng-bind="minute"></option>
                                        </select>
                                    </div>
                                    <div data-ng-show="!Ride.Round">
                                        <label class="control-label">Trip days</label>
                                        <div class="btn-group" data-toggle="buttons-checkbox">
                                            <button type="button" class="btn btn-primary" data-ng-click="tripWeek['1']=!tripWeek['1']">Mon</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="tripWeek['2']=!tripWeek['2']">Tue</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="tripWeek['3']=!tripWeek['3']">Wed</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="tripWeek['4']=!tripWeek['4']">Thu</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="tripWeek['5']=!tripWeek['5']">Fri</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="tripWeek['6']=!tripWeek['6']">Sat</button>
                                            <button type="button" class="btn btn-primary" data-ng-click="tripWeek['0']=!tripWeek['0']">Sun</button>
                                        </div>
                                        <select class="time-select" data-ng-model="Ride.tripRecurring.hour">
                                            <option data-ng-repeat="hour in hours" value="[[ hour ]]" data-ng-bind="hour"></option>
                                        </select> :
                                        <select class="time-select" data-ng-model="Ride.tripRecurring.minute">
                                            <option data-ng-repeat="minute in minutes" value="[[ minute ]]" data-ng-bind="minute"></option>
                                        </select>
                                    </div>
                                    <div class="recurring">
                                        <div class="input-date">
                                            Starting from:
                                            <input type="text" datepicker ng-model="Ride.dateRecurringFrom" class="input date-picker" ng-init="Ride.dateRecurringFrom='{{ "now" | date("d/m/Y") }}'" placeholder="DD/MM/YYYY"/>
                                            Until:
                                            <input type="text" datepicker ng-model="Ride.dateRecurringTo" class="input date-picker" placeholder="DD/MM/YYYY"/>
                                        </div>
                                        <div>
                                            <div alt-datepicker out-week="outWeek" return-week="returnWeek" trip-week="tripWeek"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </section>
                    </fieldset>
                    <form action="#" method="POST">
                        <button type="submit">Continue</button>
                        <input type="hidden" name="ride" value="[[ Ride ]]"/>
                    </form>
                </div>
                <div class="col-md-4">
                    <div>
                        <p>Route itinerary</p>
                        <google-map places="Ride.places" map="map" style="width:342px;height:385px;display:block"></google-map>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script type="text/javascript" src="{{ asset("/bundles/nxtcarmain/js/require/rideRunner.js") }}"></script>
{% endblock %}