{% extends "nxtcarMainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride_search.css") }}">
    <link rel="stylesheet" href="{{ asset('app/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('app/scripts/jRange-master/jquery.range.css') }}">
    <style>
        svg{
            margin-top: 1px;
        }
    </style>
{% endblock %}

{% block AngularController %}ng-controller="RideSearchController"{% endblock %}

{% block content %}

    {{ from }}<br/>
    {{ to }}<br/>

    <div class="row" data-ng-init="post.from='{{ from }}';post.to='{{ to }}'">
        <div class="col-md-3 date" >
            <b>Date</b>
            <input type="text" datepicker placeholder="yyyy-mm-dd" ng-model="post.date">
            <br/>
            <br/>
            <br/>
            <input type="hidden" class="db-slider" db-slider callback="sliderCallback(data)" value="5,15"/>
            <br/>
        </div>
        <div class="col-md-9">
            <div class="user-search-header ">89  rides from London to Paris, France
                <div class="rearrange-by">
                    <span class="">Rearrange by</span>
                    <a class=" order-price">£</a>
                    <a class=" order-date "></a>
                </div>
            </div>
            <a class="a-user-info">
                <div class="row">
                    <div class="col-md-3 user-info-image">
                        <img class="user-image" src="{{ asset('bundles/nxtcarmain/images/user-man-driver-72.png') }}">
                        <div class="user-info">
                            <b class="username">Valentin</b>
                            <p>27 years old</p>
                            <p>Ambassador</p>
                        </div>
                        <br>
                        <p class="ratings">
                            <svg height="15" width="23" >
                                <polygon points="10,0 5,14 17,5 3,5 15,14" style="fill:#ffc543;stroke:#ffc543;stroke-width:0;fill-rule:nonzero;" />
                            </svg>
                            <b>4.9 </b> - 36 ratings
                        </p>
                        <img class="img-bla" src="{{ asset('bundles/nxtcaruser/images/pref-bla-large.png') }}" width="30px">
                        <img class="img-bla" src="{{ asset('bundles/nxtcaruser/images/pref-bla-large.png') }}" width="30px">
                        <img class="img-bla" src="{{ asset('bundles/nxtcaruser/images/pref-bla-large.png') }}" width="30px">
                        <img class="img-bla" src="{{ asset('bundles/nxtcaruser/images/pref-bla-large.png') }}" width="30px">
                    </div>
                    <div class="col-md-6 day-form→to" >
                       <p class="day">Today - 15:00</p>
                       <p class="form→to">form<span> → </span>to</p>
                       <p class="from">Form</p>
                       <p class="to">To</p>
                       <p>Car: <b>car</b>
                        <img src="{{ asset('bundles/nxtcarmain/images/star-car.png') }} ">
                        <img src="{{ asset('bundles/nxtcarmain/images/star-car.png') }} ">
                        <img src="{{ asset('bundles/nxtcarmain/images/star-car.png') }} ">
                       </p>
                    </div>
                    <div class="col-md-3">
                        <div class="£-block">
                            <p class="£">£28</p>
                            <p class="">per passenger</p>
                        </div>
                        <p class="availability">Full</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("/bundles/nxtcarmain/js/require/rideSearchRunner.js") }}"></script>
{% endblock %}