{% extends "nxtcarMainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride_search.css") }}">
    <link rel="stylesheet" href="{{ asset('app/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('app/scripts/jRange-master/jquery.range.css') }}">
    <style>
        svg{
            margin-top: 1px;
        }
    </style>
{% endblock %}

{% block AngularController %}ng-controller="RideSearchController"{% endblock %}

{% block content %}

    <div class="row" data-ng-init="post.from='{{ from }}';post.to='{{ to }}'">
        <div class="col-md-3 date" >
            <b>Date</b>
            <input type="text" datepicker placeholder="yyyy-mm-dd" ng-model="post.date">
            <br/>
            <br/>
            <span><input type="checkbox" class="requring" ng-model="post.requring"/>  <b>Requring</b></span>
            <br/>
            <br/>
            <br/>
            <input type="hidden" class="db-slider" db-slider callback="sliderCallback(data)" value="0,20"/>
            <br/>
        </div>
        <div class="col-md-9">
            <div class="user-search-header">
                <span ng-bind="Rides.length"></span> rides from {{ from }} to {{ to }}
                <div class="rearrange-by">
                    <span>Rearrange by</span>
                    <button class="order-price" ng-click="post.sort=1;updateRideList()">£</button>
                    <button class="order-date"  ng-click="post.sort=0;updateRideList()"></button>
                </div>
            </div>
            <a href="/[[basePath]]/ride/[[ride.id]]" class="a-user-info" data-ng-repeat="ride in Rides" ng-cloak>
                <div class="row">
                    <div class="col-md-3 user-info-image">
                        <img class="user-image" ng-if="ride.driver.photo!=null" src="{{ app.request.getSchemeAndHttpHost() }}/[[ ride.driver.photo.web_path ]]" width="72" height="72" >
                        <img class="user-image" ng-if="ride.driver.photo==null" src="{{ asset('bundles/nxtcarmain/images/user-man-driver-72.png') }}" width="72" height="72" >
                        <div class="user-info">
                            <b class="username" data-ng-bind="ride.driver.displayed_as"></b>
                            <p>[[ {{ ("now" | date("Y"))}} -  ride.driver.year_of_birth]] years old</p>
                            {#<p>Ambassador</p>#}
                            <br/>
                        </div>
                        <br>
                        {#<p class="ratings">#}
                            {#<svg height="15" width="23" >#}
                                {#<polygon points="10,0 5,14 17,5 3,5 15,14" style="fill:#ffc543;stroke:#ffc543;stroke-width:0;fill-rule:nonzero;" />#}
                            {#</svg>#}
                            {#<b>4.9 </b> - 36 ratings#}
                        {#</p>#}
                        <span>
                            <img class="img-bla ng-hide" ng-show="ride.driver.chattiness==0" src="{{ asset('bundles/nxtcaruser/images/pref-bla-large.png') }}" width="30px">
                            <img class="img-bla ng-hide" ng-show="ride.driver.chattiness==1" src="{{ asset('bundles/nxtcaruser/images/pref-blabla-large.png') }}" width="30px">
                            <img class="img-bla ng-hide" ng-show="ride.driver.chattiness==2" src="{{ asset('bundles/nxtcaruser/images/pref-blablabla-large.png') }}" width="30px">
                        </span>
                        <span>
                            <img class="img-bla ng-hide" ng-show="ride.driver.smoking==0" src="{{ asset('bundles/nxtcaruser/images/pref-smoking-no-large.png') }}" width="30px">
                            <img class="img-bla ng-hide" ng-show="ride.driver.smoking==1" src="{{ asset('bundles/nxtcaruser/images/pref-smoking-maybe-large.png') }}" width="30px">
                            <img class="img-bla ng-hide" ng-show="ride.driver.smoking==2" src="{{ asset('bundles/nxtcaruser/images/pref-smoking-yes-large.png') }}" width="30px">
                        </span>
                        <span>
                            <img class="img-bla ng-hide" ng-show="ride.driver.pets==0" src="{{ asset('bundles/nxtcaruser/images/pref-pet-no-large.png') }}" width="30px">
                            <img class="img-bla ng-hide" ng-show="ride.driver.pets==1" src="{{ asset('bundles/nxtcaruser/images/pref-pet-maybe-large.png') }}" width="30px">
                            <img class="img-bla ng-hide" ng-show="ride.driver.pets==2" src="{{ asset('bundles/nxtcaruser/images/pref-pet-yes-large.png') }}" width="30px">
                        </span>
                        <span>
                            <img class="img-bla ng-hide" ng-show="ride.driver.music==0" src="{{ asset('bundles/nxtcaruser/images/pref-music-no-large.png') }}" width="30px">
                            <img class="img-bla ng-hide" ng-show="ride.driver.music==1" src="{{ asset('bundles/nxtcaruser/images/pref-music-maybe-large.png') }}" width="30px">
                            <img class="img-bla ng-hide" ng-show="ride.driver.music==2" src="{{ asset('bundles/nxtcaruser/images/pref-music-yes-large.png') }}" width="30px">
                        </span>
                    </div>
                    <div class="col-md-6 day-form→to" >
                       <p class="day">[[ ride.ride_date.out_date | date:'fullDate' ]] - [[ ride.ride_date.out_hour ]]:[[ ride.ride_date.out_minute ]]</p>
                       <p class="form→to">
                           <span data-ng-repeat="(key,twn) in ride.ride_town">
                               <i ng-show="key">→</i> [[ ride.ride_town[key].town.full_name ]]
                           </span>
                       </p>
                       <p class="from" data-ng-if="ride.ride_date.out_date">[[ride.ride_date.out_date | date:'fullDate']] [[ ride.ride_date.out_hour ]]:[[ ride.ride_date.out_minute]]</p>
                       <p class="to" data-ng-if="ride.ride_date.in_date">[[ride.ride_date.in_date | date:'fullDate']] [[ ride.ride_date.in_hour ]]:[[ ride.ride_date.in_minute]]</p>
                       {#<p>Car:#}
                           {#<b> [[ ride.driver.car[0].type.title ]]#}
                               {#[[ ride.driver.car[0].model.discr ]]#}
                               {#[[ ride.driver.car[0].model.brand.title ]]#}
                           {#</b>#}
                        {#<img src="{{ asset('bundles/nxtcarmain/images/star-car.png') }} ">#}
                        {#<img src="{{ asset('bundles/nxtcarmain/images/star-car.png') }} ">#}
                        {#<img src="{{ asset('bundles/nxtcarmain/images/star-car.png') }} ">#}
                       {#</p>#}
                    </div>
                    <div class="col-md-3">
                        <div class="£-block">
                            <p class="£">£[[ ride.price ]]</p>
                            <p class="">per passenger</p>
                        </div>
                        <p class="availability">[[ ride.free_places ]] free seats</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("/bundles/nxtcarmain/js/require/rideSearchRunner.js") }}"></script>
{% endblock %}