{% extends "nxtcarMainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride_comment.css") }}">
{% endblock %}

{% block content %}

    {#<a href="#" class="back"> ← Back to search results</a>#}
    {#<svg class="from-to-header" width="100%">#}
        {#<polygon points="0,0 1000,0 1000,50 90,50 80,60 70,50 0,50"#}
                 {#style="fill:#0ca9fa;stroke:#0ca9fa;stroke-width:1;" />#}
        {#<text fill="#ffffff" font-size="24" font-family="Helvetica Neue,Helvetica,Arial,sans-serif" x="15" y="30">#}
            {#Barking → Paris: Jethro T is offering a ride for £25#}
        {#</text>#}
    {#</svg>#}

    <div class="row">
        <div class="col-md-8">
            <div class="main-block">

                <h3 class="main-block-header">
                    {{ ride.rideTown.first.town.name }}
                    {% for rideTown in ride.rideTown if rideTown != ride.rideTown.first %}
                        → {{ rideTown.town.name }}
                    {% endfor %}
                    {#<a class="show-map" href="#"> Show map</a>#}
                </h3>
                <div class="main-content">
                    <ul class=" ">
                        <li class="row">
                            <div class="col-md-4 li-left">Pick-up point</div>
                            <div class="col-md-8 li-right ride-from">{{ ride.rideTown.first.town.fullName }}</div>
                        </li>
                        <li class="row">
                            <div class="col-md-4 li-left">Drop off point</div>
                            <div class="col-md-8 li-right ride-to">{{ ride.rideTown.last.town.fullName }}</div>
                        </li>

                        {% if ride.rideDate.startDate is defined %}

                            <li class="row">
                                <div class="col-md-4 li-left">Out days</div>
                                <div class="col-md-8 li-right">

                                    {{ ride.rideDate.outDates.first.weekDay.name }}
                                    {% for weekday in ride.rideDate.outDates if weekday != ride.rideDate.outDates.first %}
                                        , {{ weekday.weekDay.name }}
                                    {% endfor %}
                                    {{ ride.rideDate.outDates.first.hour }}:{{ ride.rideDate.outDates.first.minute }}
                                </div>
                            </li>
                            <li class="row">
                                <div class="col-md-4 li-left">Return days</div>
                                <div class="col-md-8 li-right">

                                    {{ ride.rideDate.inDates.first.weekDay.name }}
                                    {% for weekday in ride.rideDate.inDates if weekday != ride.rideDate.inDates.first %}
                                        , {{ weekday.weekDay.name }}
                                    {% endfor %}
                                    {{ ride.rideDate.inDates.first.hour }}:{{ ride.rideDate.inDates.first.minute }}
                                </div>
                            </li>

                        {% else %}
                            <li class="row">
                                <div class="col-md-4 li-left">Departure date</div>
                                <div class="col-md-8 li-right">{{ ride.rideDate.outDate.date | date('D d M Y') }}</div>
                            </li>
                            <li class="row">
                                <div class="col-md-4 li-left">Departure time</div>
                                <div class="col-md-8 li-right">{{ ride.rideDate.outHour }}:{{ ride.rideDate.outMinute }}</div>
                            </li>
                        {% endif %}



                    </ul>
                </div>
                <div class="block-content">
                    <h4>Trip details</h4>
                    <div class="row">
                        <div class="col-md-4 block-content-left">
                            Details
                        </div>
                        <div class="col-md-4 block-content-left">
                            {{ ride.detail }}
                        </div>
                        <div class="col-md-4 block-content-left">
                            Detour
                        </div>
                        <div class="col-md-8">

                            {% if (ride.detour == constant('nxtcar\\MainBundle\\Entity\\Ride::NONE')) %}
                                None
                            {% elseif  (ride.detour == constant('nxtcar\\MainBundle\\Entity\\Ride::DET_MIN15')) %}
                                15 minute detour, max.
                            {% elseif  (ride.detour == constant('nxtcar\\MainBundle\\Entity\\Ride::DET_MIN30')) %}
                                30 minute detour, max.
                            {% elseif  (ride.detour == constant('nxtcar\\MainBundle\\Entity\\Ride::DET_FINE')) %}
                                Anything is fine
                            {% endif %}

                            <img src="/bundles/nxtcarmain/images/question-mark.png" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 block-content-left">Schedule flexibility</div>
                        <div class="col-md-8">
                            Departure
                            {% if (ride.leavingTime == constant('nxtcar\\MainBundle\\Entity\\Ride::ON_TIME')) %}
                                right on time
                            {% elseif  (ride.leavingTime == constant('nxtcar\\MainBundle\\Entity\\Ride::MIN15')) %}
                                in a 15 minute window
                            {% elseif  (ride.leavingTime == constant('nxtcar\\MainBundle\\Entity\\Ride::MIN30')) %}
                                in a 30 minute window
                            {% elseif  (ride.leavingTime == constant('nxtcar\\MainBundle\\Entity\\Ride::HOUR1')) %}
                                in a 1 hour window
                            {% elseif  (ride.leavingTime == constant('nxtcar\\MainBundle\\Entity\\Ride::HOUR2')) %}
                                in a 2 hour window
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 block-content-left">Luggage size</div>

                        <div class="col-md-8">
                            {% if (ride.luggageSize == constant('nxtcar\\MainBundle\\Entity\\Ride::SMALL')) %}
                                Small
                            {% elseif  (ride.luggageSize == constant('nxtcar\\MainBundle\\Entity\\Ride::MEDIUM')) %}
                                Medium
                            {% elseif  (ride.luggageSize == constant('nxtcar\\MainBundle\\Entity\\Ride::LARGE')) %}
                                Large
                            {% endif %}
                            (travel bag)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 block-content-left">Car</div>
                        <div class="col-md-8">
                            <img src="/bundles/nxtcarmain/images/star-car.png" />
                            <img src="/bundles/nxtcarmain/images/star-car.png" />
                            Volvo V40
                        </div>
                    </div>
                </div>
                <p class="text-right">Offer published: 04/12/2014 - Seen 6 times</p>
            </div>
        </div>
        <div class="col-md-4">

            <div>

                {% set user = ride.driver %}

                {% if app.user is not null and app.user.photo is not null %}
                    {% set photo = app.request.getSchemeAndHttpHost() ~ '/' ~ app.user.photo.webpath %}
                {% else %}
                    {% set photo = asset('bundles/nxtcaruser/images/user-default.png') %}
                {% endif %}

                <div class="user-man-img">
                    <img src="{{ photo }}" width="144" height="144">
                </div>

                <div class="user">
                    <h3>
                        {{ app.user.displayedAs }}
                        <span>({{ ("now" | date("Y")) - user.yearOfBirth }} years old) </span>
                        {#<a><i class=" bbc-icon2-flag"></i></a>#}
                    </h3>
                    <p>Average rating: No ratings yet!</p><br>
                    <p>
                        My preferences

                        {% if user.music == 0 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-music-no-large.png') }}">
                        {% elseif user.music == 2 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-music-yes-large.png') }}">
                        {% endif %}

                        {% if user.smoking == 0 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-smoking-no-large.png') }}">
                        {% elseif user.smoking == 2 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-smoking-yes-large.png') }}">
                        {% endif %}

                        {% if user.pets == 0 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-pet-no-large.png') }}">
                        {% elseif user.pets == 2 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-pet-yes-large.png') }}">
                        {% endif %}

                    </p>
                    <br>
                    <p>
                        I am
                        {% if user.chattiness == 0 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-bla-large.png') }}">
                        {% elseif user.chattiness == 1 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-blabla-large.png') }}">
                        {% elseif user.chattiness == 2 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-blablabla-large.png') }}">
                        {% endif %}
                    </p>
                </div>
            </div>

        </div>
    </div>


    {% if thread.numComments != 0 %}
        {% for i in (thread.numComments - 1)..0 %}
            {% set commentinfo = comments[i] %}

            {% if commentinfo.comment.author is not null and commentinfo.comment.author.photo is not null %}
                {% set photo = app.request.getSchemeAndHttpHost() ~ '/' ~ commentinfo.comment.author.photo.webpath %}
            {% else %}
                {% set photo = asset('bundles/nxtcaruser/images/user-default.png') %}
            {% endif %}

            {% if commentinfo.comment.author.id != driverId %}

                <div class="margin-bottom">
                    <div class=" trip-qa ">
                        <div class="pull-left msg-photo-container">
                            <a href="/membre/profil/-P1q23g0jOs3gIulU3OW2w">
                                <img class="tip" alt="Ismael B (29 ans)" src="{{ photo }}" width="72" height="72" style="width: 72px; height: 72px">
                            </a>
                        </div>
                        <div class="msg-comment">
                            <h4>
                                <strong>

                                    {% if commentinfo.comment.author is not null %}
                                        {{ commentinfo.comment.author.displayedAs }}
                                    {% else %}
                                        Anonymous
                                    {% endif %}

                                </strong>
                            </h4>
                            <p>"{{ commentinfo.comment.body }}"</p>
                            <p class="msg-date clearfix">
                                {{ commentinfo.comment.createdAt.date|date('D d M Y h:i') }}
                                <span class="pull-right">
                                    <a rel="nofollow" href="/report-message#contact-form-title" class="tip">
                                        <i class="alert-flag bbc-icon2-flag"></i>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

            {% else %}

                <div class="margin-bottom">
                    <div class=" trip-my-qa ">
                        <div class="pull-right msg-photo-container">
                            <a href="/membre/profil/HlglAV4lcNfv_sOc-DS4Iw"><img class="tip" alt="Gautier T (26 ans)" src="{{ photo }}" width="72" height="72" style="width: 72px; height: 72px"></a>
                        </div>
                        <div class="msg-comment">
                            <h4>
                                <strong>

                                    {% if commentinfo.comment.author is not null %}
                                        {{ commentinfo.comment.author.displayedAs }}
                                    {% else %}
                                        Anonymous
                                    {% endif %}

                                </strong>
                            </h4>
                            <p>"{{ commentinfo.comment.body }}"</p>
                            <p class="msg-date clearfix">
                                {{ commentinfo.comment.createdAt.date|date('D d M Y h:i') }}
                                <span class="pull-right">
                                    <a rel="nofollow" href="/report-message#contact-form-title" class="tip">
                                        <i class="alert-flag bbc-icon2-flag"></i>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

            {% endif %}

        {% endfor %}
    {% endif %}


    {% if app.user is not null and app.user.photo is not null %}
        {% set photo = app.request.getSchemeAndHttpHost() ~ '/' ~ app.user.photo.webpath %}
    {% else %}
        {% set photo = asset('bundles/nxtcaruser/images/user-default.png') %}
    {% endif %}

    <div class="margin-bottom">
        <div class=" trip-qa ">
            <div class="pull-left msg-photo-container">
                <a href="/membre/profil/-P1q23g0jOs3gIulU3OW2w">
                    <img class="tip" alt="Ismael B (29 ans)" src="{{ photo }}" width="72" height="72" style="width: 72px; height: 72px">
                </a>
            </div>
            <div class="msg-comment">
                <form action="#" method="POST">
                    {{ form_widget(form.body, {"attr" : {class: "msg-textarea", id: "form_body", name: "form[body]", required: "required"} }) }}
                    <br>
                    <label>type a comment</label>

                    <input  class="msg-submit" type="submit" name="submit">
                    {{ form_widget(form._token) }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}