{% extends "nxtcarMainBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride_comment.css") }}">
{% endblock %}
{% block content %}

    {% if thread.numComments != 0 %}
        {% for i in (thread.numComments - 1)..0 %}
            {% set commentinfo = comments[i] %}

            {% if commentinfo.comment.author is not null and commentinfo.comment.author.photo is not null %}
                {% set photo = app.request.getSchemeAndHttpHost() ~ '/' ~ commentinfo.comment.author.photo.webpath %}
            {% else %}
                {% set photo = asset('bundles/nxtcaruser/images/user-default.png') %}
            {% endif %}

            {% if commentinfo.comment.author.id != driverId %}

                <div class="margin-bottom">
                    <div class=" trip-qa ">
                        <div class="pull-left msg-photo-container">
                            <a href="/membre/profil/-P1q23g0jOs3gIulU3OW2w">
                                <img class="tip" alt="Ismael B (29 ans)" src="{{ photo }}" width="72" height="72" style="width: 72px; height: 72px">
                            </a>
                        </div>
                        <div class="msg-comment">
                            <h4>
                                <strong>

                                    {% if commentinfo.comment.author is not null %}
                                        {{ commentinfo.comment.author.displayedAs }}
                                    {% else %}
                                        Anonymous
                                    {% endif %}

                                </strong>
                            </h4>
                            <p>"{{ commentinfo.comment.body }}"</p>
                            <p class="msg-date clearfix">
                                {{ commentinfo.comment.createdAt.date|date('D d M Y h:i') }}
                                <span class="pull-right">
                                    <a rel="nofollow" href="/report-message#contact-form-title" class="tip">
                                        <i class="alert-flag bbc-icon2-flag"></i>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

            {% else %}

                <div class="margin-bottom">
                    <div class=" trip-my-qa ">
                        <div class="pull-right msg-photo-container">
                            <a href="/membre/profil/HlglAV4lcNfv_sOc-DS4Iw"><img class="tip" alt="Gautier T (26 ans)" src="{{ photo }}" width="72" height="72" style="width: 72px; height: 72px"></a>
                        </div>
                        <div class="msg-comment">
                            <h4>
                                <strong>

                                    {% if commentinfo.comment.author is not null %}
                                        {{ commentinfo.comment.author.displayedAs }}
                                    {% else %}
                                        Anonymous
                                    {% endif %}

                                </strong>
                            </h4>
                            <p>"{{ commentinfo.comment.body }}"</p>
                            <p class="msg-date clearfix">
                                {{ commentinfo.comment.createdAt.date|date('D d M Y h:i') }}
                                <span class="pull-right">
                                    <a rel="nofollow" href="/report-message#contact-form-title" class="tip">
                                        <i class="alert-flag bbc-icon2-flag"></i>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

            {% endif %}

        {% endfor %}
    {% endif %}


    {% if app.user is not null and app.user.photo is not null %}
        {% set photo = app.request.getSchemeAndHttpHost() ~ '/' ~ app.user.photo.webpath %}
    {% else %}
        {% set photo = asset('bundles/nxtcaruser/images/user-default.png') %}
    {% endif %}

    <div class="margin-bottom">
        <div class=" trip-qa ">
            <div class="pull-left msg-photo-container">
                <a href="/membre/profil/-P1q23g0jOs3gIulU3OW2w">
                    <img class="tip" alt="Ismael B (29 ans)" src="{{ photo }}" width="72" height="72" style="width: 72px; height: 72px">
                </a>
            </div>
            <div class="msg-comment">
                <form action="{{ path('ride_comment') }}" method="POST">
                    {{ form_widget(form.body, {"attr" : {class: "msg-textarea", id: "form_body", name: "form[body]", required: "required"} }) }}
                    <br>
                    <label>type a comment</label>

                    <input  class="msg-submit" type="submit" name="submit">
                    {{ form_widget(form._token) }}
                </form>
            </div>
        </div>
    </div>

{% endblock content %}