{% extends "nxtcarMainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride_comment.css") }}">
{% endblock %}

{% block AngularController %}ng-controller="RideController"{% endblock %}

{% block content %}

    {% set ride = rideDate.ride %}

    {% if app.user is not null and app.user.id != ride.driver.id %}
        <div>
            <h3>
                <a href="{{ path('private_messages', {'from': app.user.id, 'to': ride.driver.id, 'rideDate': rideDate.id}) }}">
                    Contact with Driver
                </a>
            </h3>
        </div>
    {% endif %}

    <div class="row" ng-cloak>
        <div class="col-md-8">
            <div class="main-block">

                <h3 class="main-block-header">
                    {{ ride.rideTown.first.town.name }}
                    {% for rideTown in ride.rideTown if rideTown != ride.rideTown.first %}
                        → {{ rideTown.town.name }}
                    {% endfor %}
                </h3>
                <div class="main-content">
                    <ul class=" ">
                        <li class="row">
                            <div class="col-md-4 li-left">Pick-up point</div>
                            <div class="col-md-8 li-right ride-from">{{ ride.rideTown.first.town.fullName }}</div>
                        </li>
                        <li class="row">
                            <div class="col-md-4 li-left">Drop off point</div>
                            <div class="col-md-8 li-right ride-to">{{ ride.rideTown.last.town.fullName }}</div>
                        </li>

                        {% if rideDate.startDate is defined %}

                            <li class="row">
                                <div class="col-md-4 li-left">Out days</div>
                                <div class="col-md-8 li-right">

                                    {{ rideDate.outDates.first.weekDay.name }}
                                    {% for weekday in rideDate.outDates if weekday != rideDate.outDates.first %}
                                        , {{ weekday.weekDay.name }}
                                    {% endfor %}
                                    {{ rideDate.outDates.first.hour }}:{{ rideDate.outDates.first.minute }}
                                </div>
                            </li>

                            {% if rideDate.inDates | length > 0 %}
                                <li class="row">
                                    <div class="col-md-4 li-left">Return days</div>
                                    <div class="col-md-8 li-right">

                                        {{ rideDate.inDates.first.weekDay.name }}
                                        {% for weekday in rideDate.inDates if weekday != rideDate.inDates.first %}
                                            , {{ weekday.weekDay.name }}
                                        {% endfor %}
                                        {{ rideDate.inDates.first.hour }}:{{ rideDate.inDates.first.minute }}
                                    </div>
                                </li>
                            {% endif %}

                        {% else %}
                            <li class="row">
                                <div class="col-md-4 li-left">Departure date</div>
                                <div class="col-md-8 li-right">{{ rideDate.outDate.date | date('D d M Y') }}</div>
                            </li>
                            <li class="row">
                                <div class="col-md-4 li-left">Departure time</div>
                                <div class="col-md-8 li-right">{{ rideDate.outHour }}:{{ rideDate.outMinute }}</div>
                            </li>
                        {% endif %}

                    </ul>
                </div>
                <div class="block-content">
                    <h4>Trip details</h4>
                    <div class="row">
                        <div class="col-md-4 block-content-left">
                            Details
                        </div>
                        <div class="col-md-4 block-content-left">
                            {{ ride.detail }}
                        </div><br>
                        <div class="col-md-4 block-content-left">
                            Detour
                        </div>
                        <div class="col-md-8">

                            {% if (ride.detour == constant('nxtcar\\MainBundle\\Entity\\Ride::NONE')) %}
                                None
                            {% elseif  (ride.detour == constant('nxtcar\\MainBundle\\Entity\\Ride::DET_MIN15')) %}
                                15 minute detour, max.
                            {% elseif  (ride.detour == constant('nxtcar\\MainBundle\\Entity\\Ride::DET_MIN30')) %}
                                30 minute detour, max.
                            {% elseif  (ride.detour == constant('nxtcar\\MainBundle\\Entity\\Ride::DET_FINE')) %}
                                Anything is fine
                            {% endif %}

                            <img src="/bundles/nxtcarmain/images/question-mark.png" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 block-content-left">Schedule flexibility</div>
                        <div class="col-md-8">
                            Departure
                            {% if (ride.leavingTime == constant('nxtcar\\MainBundle\\Entity\\Ride::ON_TIME')) %}
                                right on time
                            {% elseif  (ride.leavingTime == constant('nxtcar\\MainBundle\\Entity\\Ride::MIN15')) %}
                                in a 15 minute window
                            {% elseif  (ride.leavingTime == constant('nxtcar\\MainBundle\\Entity\\Ride::MIN30')) %}
                                in a 30 minute window
                            {% elseif  (ride.leavingTime == constant('nxtcar\\MainBundle\\Entity\\Ride::HOUR1')) %}
                                in a 1 hour window
                            {% elseif  (ride.leavingTime == constant('nxtcar\\MainBundle\\Entity\\Ride::HOUR2')) %}
                                in a 2 hour window
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 block-content-left">Luggage size</div>

                        <div class="col-md-8">
                            {% if (ride.luggageSize == constant('nxtcar\\MainBundle\\Entity\\Ride::SMALL')) %}
                                Small
                            {% elseif  (ride.luggageSize == constant('nxtcar\\MainBundle\\Entity\\Ride::MEDIUM')) %}
                                Medium
                            {% elseif  (ride.luggageSize == constant('nxtcar\\MainBundle\\Entity\\Ride::LARGE')) %}
                                Large
                            {% endif %}
                            (travel bag)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="{{ path('user_profile', {'userId': ride.driver.id}) }}">
            <div class="col-md-4">

                <div>

                    {% set user = ride.driver %}

                    {% if ride.driver is not null and ride.driver.photo is not null %}
                        {% set photo = app.request.getSchemeAndHttpHost() ~ '/' ~ ride.driver.photo.webpath %}
                    {% else %}
                        {% set photo = asset('bundles/nxtcaruser/images/user-default.png') %}
                    {% endif %}

                    <div class="user-man-img">
                        <img src="{{ photo }}" width="144" height="144">
                    </div>

                    <div class="user">
                        <h3>
                            {{ ride.driver.displayedAs }}
                            <span>({{ ("now" | date("Y")) - user.yearOfBirth }} years old) </span>
                            {#<a><i class=" bbc-icon2-flag"></i></a>#}
                        </h3>
                        <p>Average rating: No ratings yet!</p><br>
                        <p>My preferences
                            {% if user.music == 0 %}
                                <img src="{{ asset('bundles/nxtcaruser/images/pref-music-no-large.png') }}">
                            {% elseif user.music == 2 %}
                                <img src="{{ asset('bundles/nxtcaruser/images/pref-music-yes-large.png') }}">
                            {% endif %}

                            {% if user.smoking == 0 %}
                                <img src="{{ asset('bundles/nxtcaruser/images/pref-smoking-no-large.png') }}">
                            {% elseif user.smoking == 2 %}
                                <img src="{{ asset('bundles/nxtcaruser/images/pref-smoking-yes-large.png') }}">
                            {% endif %}

                            {% if user.pets == 0 %}
                                <img src="{{ asset('bundles/nxtcaruser/images/pref-pet-no-large.png') }}">
                            {% elseif user.pets == 2 %}
                                <img src="{{ asset('bundles/nxtcaruser/images/pref-pet-yes-large.png') }}">
                            {% endif %}

                        </p>
                        <br>
                        <p>I am
                            {% if user.chattiness == 0 %}
                                <img src="{{ asset('bundles/nxtcaruser/images/pref-bla-large.png') }}">
                            {% elseif user.chattiness == 1 %}
                                <img src="{{ asset('bundles/nxtcaruser/images/pref-blabla-large.png') }}">
                            {% elseif user.chattiness == 2 %}
                                <img src="{{ asset('bundles/nxtcaruser/images/pref-blablabla-large.png') }}">
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <br/>
    <br/>
    {% if thread.numComments != 0 %}
        {% for i in (thread.numComments - 1)..0 %}
            {% set commentinfo = comments[i] %}

            {% if commentinfo.comment.author is not null and commentinfo.comment.author.photo is not null %}
                {% set photo = app.request.getSchemeAndHttpHost() ~ '/' ~ commentinfo.comment.author.photo.webpath %}
            {% else %}
                {% set photo = asset('bundles/nxtcaruser/images/user-default.png') %}
            {% endif %}

            {% if commentinfo.comment.author is null or commentinfo.comment.author.id != ride.driver.id %}

                <div class="margin-bottom">
                    <div class=" trip-qa ">
                        <div class="pull-left msg-photo-container">
                            <a href="/membre/profil/-P1q23g0jOs3gIulU3OW2w">
                                <img class="tip" src="{{ photo }}" width="72" height="72" style="width: 72px; height: 72px">
                            </a>
                        </div>
                        <div class="msg-comment">
                            <h4>
                                <strong>

                                    {% if commentinfo.comment.author is not null %}
                                        {{ commentinfo.comment.author.displayedAs }}
                                    {% else %}
                                        Anonymous
                                    {% endif %}

                                </strong>
                            </h4>
                            <p>"{{ commentinfo.comment.body }}"</p>
                            <p class="msg-date clearfix">
                                {% set date = commentinfo.comment.createdAt.date|date('m/d/Y h:i:s A') %}
                                [[ convertDateToLocal('{{ date }}') | date: 'MMMM d yyyy H:m' ]]
                            </p>
                        </div>
                    </div>
                </div>

            {% else %}

                <div class="margin-bottom">
                    <div class=" trip-my-qa ">
                        <div class="pull-right msg-photo-container">
                            <a href="/membre/profil/HlglAV4lcNfv_sOc-DS4Iw"><img class="tip" alt="Gautier T (26 ans)" src="{{ photo }}" width="72" height="72" style="width: 72px; height: 72px"></a>
                        </div>
                        <div class="msg-comment">
                            <h4>
                                <strong>

                                    {% if commentinfo.comment.author is not null %}
                                        {{ commentinfo.comment.author.displayedAs }}
                                    {% else %}
                                        Anonymous
                                    {% endif %}

                                </strong>
                            </h4>
                            <p>"{{ commentinfo.comment.body }}"</p>
                            <p class="msg-date clearfix">
                                {% set date = commentinfo.comment.createdAt.date|date('m/d/Y h:i:s A') %}
                                [[ convertDateToLocal('{{ date }}') | date: 'MMMM d yyyy H:m' ]]
                            </p>
                        </div>
                    </div>
                </div>

            {% endif %}

        {% endfor %}
    {% endif %}


    {% if app.user is not null and app.user.photo is not null %}
        {% set photo = app.request.getSchemeAndHttpHost() ~ '/' ~ app.user.photo.webpath %}
    {% else %}
        {% set photo = asset('bundles/nxtcaruser/images/user-default.png') %}
    {% endif %}

    <div class="margin-bottom" ng-cloak>
        <div class=" trip-qa ">
            <div class="pull-left msg-photo-container">
                <a href="/membre/profil/-P1q23g0jOs3gIulU3OW2w">
                    <img class="tip" alt="Ismael B (29 ans)" src="{{ photo }}" width="72" height="72" style="width: 72px; height: 72px">
                </a>
            </div>
            <div class="msg-comment">
                <form action="#" method="POST">
                    {{ form_widget(form.body, {"attr" : {class: "msg-textarea", id: "form_body", name: "form[body]", required: "required"} }) }}
                    <br>
                    <label>type a comment</label>

                    <input  class="msg-submit" type="submit" name="submit">
                    {{ form_widget(form._token) }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=gb"></script>
    <script type="text/javascript" src="{{ asset("/bundles/nxtcarmain/js/require/rideRunner.js") }}"></script>
{% endblock %}