{% extends 'nxtcarMainBundle:Dashboard:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/messages.css") }}">
{% endblock %}


{% block content %}
    {{ knp_menu_render(['nxtcarMainBundle:Builder:profileMenu', 'Rides offered']) }}

    {% for ride in rides %}

        {% set length = ride.rideDate | length %}
        {% if length > 1 %}

            {% set recurring = null %}

            {% for tempRideDate in ride.rideDate %}
                {% if tempRideDate.startDate is defined %}
                    {% set recurring = tempRideDate %}
                {% endif %}
            {% endfor %}

            {% if recurring is not  null %}
                <a href="{{ path('ride', {'rideDateId': recurring.id}) }}">
            {% endif %}

        {% else %}

            <a href="{{ path('ride', {'rideDateId': ride.rideDate.first.id}) }}">

        {% endif %}


        <h4>{{ ride.rideTown.first.town.name }} → {{ ride.rideTown.last.town.name }}</h4>


        Stopover points:
        {{ ride.rideTown.first.town.name }}
        {% for rideTown in ride.rideTown if rideTown != ride.rideTown.first %}
            → {{ rideTown.town.name }}
        {% endfor %}

        <br/>
        {{ ride.freePlaces }} seats left £{{ ride.price }} per passenger

        <br/>

        {% if length > 1 %}

            {% if recurring is not null %}

                <div class="col-md-4 li-left">Out days</div>
                <div class="col-md-8 li-right">

                    {{ recurring.outDates.first.weekDay.name }}
                    {% for weekday in recurring.outDates if weekday != recurring.outDates.first %}
                        , {{ weekday.weekDay.name }}
                    {% endfor %}
                    {{ recurring.outDates.first.hour }}:{{ recurring.outDates.first.minute }}
                </div>

                    {% if recurring.isRound %}
                        <div class="col-md-4 li-left">Return days</div>
                        <div class="col-md-8 li-right">

                        {{ recurring.inDates.first.weekDay.name }}
                        {% for weekday in recurring.inDates if weekday != recurring.inDates.first %}
                            , {{ weekday.weekDay.name }}
                        {% endfor %}
                        {{ recurring.inDates.first.hour }}:{{ recurring.inDates.first.minute }}

                        </div>
                    {% endif %}

                Start Date: {{ recurring.startDate | date('d M Y') }} <br/>
                End Date: {{ recurring.endDate | date('d M Y') }}
            {% endif %}

        {% else %}

            <div class="col-md-4 li-left">Departure date</div>
            <div class="col-md-8 li-right">
                {{ ride.rideDate.first.outDate.date | date('D d M Y') }} - {{ ride.rideDate.first.outHour }}:{{ ride.rideDate.first.outMinute }}
            </div>

            {% if ride.rideDate.first.inDate is not null %}
                <div class="col-md-4 li-left">Return date</div>
                <div class="col-md-8 li-right">
                    {{ ride.rideDate.first.inDate.date | date('D d M Y') }} - {{ ride.rideDate.first.inHour }}:{{ ride.rideDate.first.inMinute }}
                </div>
            {% endif %}

        {% endif %}

        </a>
        <br/>
        -------------------------------------------------------------------------------------------------------
        <br/>

    {% endfor %}
{% endblock %}