{% extends 'nxtcarMainBundle:Dashboard:base.html.twig' %}

{% block content %}
    <div class="dashboard-header">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="row">
                    <div class="col-xs-3">
                        {%  if (app.user.photo is null) %}
                            <div class="add-your-photo">
                                <a href="{{ path('profile_photo') }}">
                                    {{ 'dashboard.add_photo'|trans({}, 'dashboard') }}
                                </a>
                            </div>
                        {% else %}
                            <div>
                                {% set photo = app.request.getSchemeAndHttpHost() ~ '/' ~ app.user.photo.webpath %}
                                <img src="{{ photo }}" width="72" height="72">
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-9">
                        <p class="helo-user">
                            Hello {{ app.user.firstname }}
                        </p>
                        <ul class="public-profil  list-unstyled"  >
                            <li>
                                <a href="{{ path('sonata_user_profile_edit') }}">
                                    {{ 'dashboard.edit_profile'|trans({}, 'dashboard') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('sonata_user_profile_show') }}">
                                    {{ 'dashboard.view_public_profile'|trans({}, 'dashboard') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row dashboard-content">
        <div class="col-xs-4 span4">
            <div class="main-column-block">

                <p class="main-column-title">{{ 'dashboard.car_preferences'|trans({}, 'dashboard') }}</p>
                <div class="blabla clearfix"></div>

                {% if app.user.music == 0 %}
                    <img src="{{ asset('bundles/nxtcaruser/images/pref-music-no-large.png') }}" width="30" height="30">
                {% elseif app.user.music == 2 %}
                    <img src="{{ asset('bundles/nxtcaruser/images/pref-music-yes-large.png') }}" width="30" height="30">
                {% endif %}

                {% if app.user.smoking == 0 %}
                    <img src="{{ asset('bundles/nxtcaruser/images/pref-smoking-no-large.png') }}" width="30" height="30">
                {% elseif app.user.smoking == 2 %}
                    <img src="{{ asset('bundles/nxtcaruser/images/pref-smoking-yes-large.png') }}" width="30" height="30">
                {% endif %}

                {% if app.user.pets == 0 %}
                    <img src="{{ asset('bundles/nxtcaruser/images/pref-pet-no-large.png') }}" width="30" height="30">
                {% elseif app.user.pets == 2 %}
                    <img src="{{ asset('bundles/nxtcaruser/images/pref-pet-yes-large.png') }}" width="30" height="30">
                {% endif %}

                {% if app.user.chattiness == 0 %}
                    <img src="{{ asset('bundles/nxtcaruser/images/pref-bla-large.png') }}" width="30" height="30">
                {% elseif app.user.chattiness == 1 %}
                    <img src="{{ asset('bundles/nxtcaruser/images/pref-blabla-large.png') }}" width="30" height="30">
                {% elseif app.user.chattiness == 2 %}
                    <img src="{{ asset('bundles/nxtcaruser/images/pref-blablabla-large.png') }}" width="30" height="30">
                {% endif %}

                <a href="{{ path('profile_preferences') }}" class="edit-preferences blue">
                    {{ 'dashboard.edit_car_preferences'|trans({}, 'dashboard') }}
                </a>
            </div>

            <div class="main-column-block">
                <h3 class="main-column-title">{{ 'dashboard.member_verification'|trans({}, 'dashboard') }}</h3>
                <ul class=" list-unstyled main-column-list verification-list margin-bottom unstyled">
                    <li class="img-phone tip">
                        <span class="no-checked">
                            <a href="" class="blue">{{ 'dashboard.phone_number_verification'|trans({}, 'dashboard') }}</a>
                        </span>
                    </li>
                    <li class="img-email tip">
                        <span class="no-checked">
                            <a href="" class="blue">{{ 'dashboard.email_verification'|trans({}, 'dashboard') }}</a>
                        </span>
                    </li>
                </ul>
                <span class="full-check">
                    <a href="" class=" profil-verification display-block margin-bottom blue">
                        {{ 'dashboard.complete_verification'|trans({}, 'dashboard') }}
                    </a>
                </span>
            </div>

            <div class="main-column-block">
                <h3 class="main-column-title">{{ 'dashboard.member_activity'|trans({}, 'dashboard') }}</h3>


                <div class=" img-calendar activities-text-container">
                    {{ 'dashboard.member_since'|trans({}, 'dashboard') }}: {{ app.user.createdAt.date|date('d M Y') }}
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="span8 dashboard-notifications-messages">
                {% if app.user.biography is empty %}
                    <div class="notifications-header">
                        <h2 class="notifications">{{ 'dashboard.notifications'|trans({}, 'dashboard') }} (1)</h2>
                    </div>
                    <ol class="unstyled dashboard-notifications-list">
                        <li class="clearfix">
                            <div class="text-notification-container">
                                <p>
                                    <strong>{{ 'dashboard.provide_mini_bio'|trans({}, 'dashboard') }}</strong><br>
                                    {{ 'dashboard.mini_bio_description'|trans({}, 'dashboard') }}
                                </p>
                            </div>
                            <div class="btn-notification-container">
                                <a href="{{ path('sonata_user_profile_edit') }}" class="btn-validation">
                                    {{ 'dashboard.fill_in_mini_bio'|trans({}, 'dashboard') }}
                                </a>
                            </div>
                        </li>
                    </ol>

                {% else %}
                    <div class="notifications-header">
                        <h2 class="notifications">{{ 'dashboard.notifications'|trans({}, 'dashboard') }} (0)</h2>
                    </div>
                {% endif %}

                <div class="messages-header">
                    <h2 class="messages">{{ 'dashboard.new_messages'|trans({}, 'dashboard') }} (0)</h2>
                </div>
                <ol class="unstyled dashboard-messages-list clearfix">
                    <a href="{{ path("messages",{'status': 'received'}) }}" class="blue pull-right margin-top">{{ 'dashboard.all_messages'|trans({}, 'dashboard') }}</a>
                </ol>

            </div>
        </div>
    </div>
    </div>
{% endblock %}