{% extends 'nxtcarMainBundle:Dashboard:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/messages.css") }}">
{% endblock %}


{% block content %}
    {{ knp_menu_render(['nxtcarMainBundle:Builder:profileMenu', 'Messages']) }}

    <div>
        <br><br>
        {#example<br/>#}
        {#Old: [[ convertDateToLocal('6/29/2011 4:52:48 PM UTC') ]]<br/>#}
        {#Converted: [[ convertDateToLocal('6/29/2011 4:52:48 PM') ]]#}

        {% if app.user is not null and app.user.photo is not null %}
            {% set photo = app.request.getSchemeAndHttpHost() ~ '/' ~ app.user.photo.webpath %}
        {% else %}
            {% set photo = asset('bundles/nxtcaruser/images/user-default.png') %}
        {% endif %}

        {% if status == 'questions_answers' %}

            {% for question in questions %}
                <a href="{{ path('ride', {'rideDateId': (question.thread.id | replace({'ride_': ''})) }) }}">
                    <div class="col-md-2">
                        <img src="{{ photo }}" width="70" height="70">
                    </div>

                    <div>
                        {{ question.body }}
                        <br>
                        {% set date = question.createdAt.date|date('m/d/Y h:i:s A') %}
                        [[ convertDateToLocal('{{ date }}') | date: 'MMMM d yyyy H:m' ]]
                    </div>
                    <br><br>
                </a>
            {% endfor %}

        {% else %}

            {% for question in questions %}

                {% if question.from is not null and question.from.photo is not null %}
                    {% set photo = app.request.getSchemeAndHttpHost() ~ '/' ~ question.from.photo.webpath %}
                {% else %}
                    {% set photo = asset('bundles/nxtcaruser/images/user-default.png') %}
                {% endif %}

                {% if question.tempRideDate is not null %}
                    {% set rideDate = question.tempRideDate %}
                {% else %}
                    {% set rideDate = question.rideDate %}
                {% endif %}

                <a href="{{ path('private_messages', {'from': question.from.id, 'to': app.user.id, 'rideDate': rideDate.id}) }}">
                    <div class="col-md-2">
                        <img src="{{ photo }}" width="70" height="70">
                    </div>

                    <div>
                        {{ question.message }}
                        <br>
                        {% set date = question.sendDate.date|date('m/d/Y h:i:s A') %}
                        [[ convertDateToLocal('{{ date }}') | date: 'MMMM d yyyy H:m' ]]

                    </div>
                    <br><br>
                </a>
            {% endfor %}

        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("/bundles/nxtcaruser/js/require/userRunner.js") }}"></script>
{% endblock %}