{% extends 'nxtcarMainBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcaruser/css/show.css") }}">
{% endblock %}

{% block AngularController %}ng-controller="userController"{% endblock %}

{% block content %}

    <div class="row ">
        <div class="col-xs-4 span4">
            <div class="main-column-block">
                <p class="main-column-title">Member verification</p>

                <ul class=" list-unstyled   margin-bottom ul-email">
                    <li class="img-email tip" title="">
                        <span class="checked">
                            Email verified
                        </span>
                    </li>
                </ul>
            </div>

            <div class="main-column-block">
                <h3 class="main-column-title">Member activity</h3>
                <ul class=" list-unstyled main-column-list verification-list margin-bottom unstyled">
                    <li class="img-from tip">
                        <span class="span" >
                            One ride offered
								</span>
                    </li>
                    {#<li class="img-clock tip">#}
                        {#<span class="span">#}
                            {#Last online: Today - 19:50#}
								{#</span>#}
                    {#</li>#}

                    <li class="	img-calendar tip" title="">
                        <span class="span">
                            Member since: {{ user.createdAt.date|date('d M Y') }}
                        </span>
                    </li>
                </ul>
            </div>

            {% if user.car is not empty %}
                <div class="main-column-block">
                    <h3 class="main-column-title">Your car</h3>
                    <div class="div-img-car">
                        <img src="{{ asset("/bundles/nxtcarmain/images/car.png") }}" width="148" height="108" style="width:148px; height:108px" class="user-vehicle">
                    </div>
                    <div class="car-stars">

                        <span>{{ user.car.first.model.brand.title }} {{ user.car.first.model.title }}</span>

                        {% for i in 1..(user.car.first.comfort + 1) %}
                            <img src="{{ asset("/bundles/nxtcarmain/images/star-car.png") }}" width="15" height="15" >
                        {% endfor %}
                    </div>

                    {% if user.car.first.comfort == constant('nxtcar\\MainBundle\\Entity\\Car::COMFORT_BASIC') %}
                        {% set comfort = 'Basic' %}
                    {% elseif user.car.first.comfort == constant('nxtcar\\MainBundle\\Entity\\Car::COMFORT_NORMAL') %}
                        {% set comfort = 'Normal' %}
                    {% elseif user.car.first.comfort == constant('nxtcar\\MainBundle\\Entity\\Car::COMFORT_COMFORTABLE') %}
                        {% set comfort = 'Comfortable' %}
                    {% elseif user.car.first.comfort == constant('nxtcar\\MainBundle\\Entity\\Car::COMFORT_LUXURY') %}
                        {% set comfort = 'Luxury' %}
                    {% endif %}

                    <p>Colour: {{ user.car.first.color.title }}</p>
                    <p>Comfort: {{ comfort }}</p>
                </div>
            {% endif %}
        </div>
        <div class="col-xs-8 user-information">

            <div>

                {% if user is not null and user.photo is not null %}
                    {% set photo = app.request.getSchemeAndHttpHost() ~ '/' ~ user.photo.webpath %}
                {% else %}
                    {% set photo = asset('bundles/nxtcaruser/images/user-default.png') %}
                {% endif %}

                <div class="user-man-img">
                    <img src="{{ photo }}" width="144" height="144">
                </div>

                <div class="user">
                    <h3>
                        {{ user.displayedAs }}
                        <span>({{ ("now" | date("Y")) - user.yearOfBirth }} years old) </span> <a><i class=" bbc-icon2-flag"></i></a>
                    </h3>
                    <p>Average rating: No ratings yet!</p><br>
                    <p>
                        My preferences

                        {% if user.music == 0 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-music-no-large.png') }}">
                        {% elseif user.music == 2 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-music-yes-large.png') }}">
                        {% endif %}

                        {% if user.smoking == 0 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-smoking-no-large.png') }}">
                        {% elseif user.smoking == 2 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-smoking-yes-large.png') }}">
                        {% endif %}

                        {% if user.pets == 0 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-pet-no-large.png') }}">
                        {% elseif user.pets == 2 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-pet-yes-large.png') }}">
                        {% endif %}

                    </p>
                    <br>
                    <p>
                        I am
                        {% if user.chattiness == 0 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-bla-large.png') }}">
                        {% elseif user.chattiness == 1 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-blabla-large.png') }}">
                        {% elseif user.chattiness == 2 %}
                            <img src="{{ asset('bundles/nxtcaruser/images/pref-blablabla-large.png') }}">
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="span8 dashboard-notifications-messages">
                <div class="">
                    <h3 class="h3-sorry">
                        {% if user.biography is empty %}
                            Sorry! I haven't given a mini bio yet
                        {% else %}
                            {{ user.biography }}
                        {% endif %}
                    </h3>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("/bundles/nxtcaruser/js/require/userRunner.js") }}"></script>
{% endblock %}
